In [84]:
import pandas as pd
import string
import re

In [113]:
tweet_df = pd.read_csv('tweet_activity_metrics.csv',encoding='ISO-8859-1')

In [114]:
tweet_df.head()

,Tweet id,Tweet permalink,Tweet text,time,impressions,engagements,engagement rate,retweets,replies,favorites,user profile clicks,url clicks,hashtag clicks
0,6.490000e+17,https://twitter.com/USCTrials/status/649293177...,Diagnosed with #KidneyCancer? Leading research...,01-29-2016 0:00,424,3,0.007075,12,0,2,0,1,0.0
1,6.490000e+17,https://twitter.com/USCTrials/status/649064976...,This clinical research study for #GynCSM is no...,01-30-2016 0:00,411,8,0.019465,3,0,1,1,4,0.0
2,6.490000e+17,https://twitter.com/USCTrials/status/648875195...,Looking to test a medical device? Partner with...,04-14-2016 0:00,548,8,0.014599,3,0,2,3,1,0.0
3,6.540000e+17,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",GLOBAL #STATISTICS UPDATE\r(http://t.co/OsqHqo...,01-21-2016 0:00,548,23,0.000000,223,2,2,3,12,NaN
4,6.540000e+17,"<a href=""http://twitter.com/download/android"" ...",RT @rugbyworldcup: Huge thank you LEEDS. Perfe...,01-06-2016 0:00,1769,42,2.000000,413,0,8,2,14,NaN

In [115]:
# Total tweets
print ('Total tweets this period:', len(tweet_df.index))

Total tweets this period: 103

In [116]:
# Retweets
tweet_df = tweet_df.sort_values(by='retweets', ascending=False)
tweet_df = tweet_df.reset_index(drop=True)
print ('Mean retweets:', round(tweet_df['retweets'].mean(),2), '\n')
print ('Top 5 RTed tweets:')
print ('------------------', '\n')
for i in range(5):
    print (tweet_df['Tweet text'].ix[i], '->', tweet_df['retweets'].ix[i])
print ('\n')

Mean retweets: 240.6

Top 5 RTed tweets:
------------------

RT @TeamYanezUSA: #EduardoYañez @LaloYanezLue es #SantiagoGuzman en #Ladrones @LadronesMovie Ahora en cines #USA @PantelionFilms http://t.c -> 499
Can you recommend anyone for this #BusinessMgmt #job? http://t.co/2wwa6WIAbw #USA #Hiring #CareerArc -> 498
Director of Facilities and Operations: Spectrum of Hope, LLC, Houston, TX. http://t.co/YcBuhHqtEw #MBA #jobs #USA -> 486
#ultimate http://t.co/tt9w7PDHy0 For Sale: DJI Phantom 2 VERSION 3 RTF UAV http://t.co/3wL2FsIJjc #usa #drone http://t.co/pfJgesotEp -> 483
This #IT #job might be a great fit for you: Developer - http://t.co/nnnoRsx3y0 #USA #Veterans #Hiring #CareerArc -> 452

In [117]:
# Likes
tweet_df = tweet_df.sort_values(by='favorites', ascending=False)
tweet_df = tweet_df.reset_index(drop=True)
print ('Mean likes:', round(tweet_df['favorites'].mean(),2), '\n')
print ('Top 5 liked tweets:')
print ('-------------------', '\n')
for i in range(5):
    print (tweet_df['Tweet text'].ix[i], '->', tweet_df['favorites'].ix[i])

Mean likes: 4.76

Top 5 liked tweets:
-------------------

#USA HOT DEALS : http://t.co/ZCgPG7FIE0 NEW Electric Mayday Gloss Black Gray Womens Oversize Wrap Sunglasses Msrp http://t.co/HvUaOWW1rH -> 10
Join the TD Bank US team! See our latest #BusinessMgmt #job opening here: http://t.co/pmNl1miSP8 #USA #Hiring #CareerArc -> 10
This #IT #job might be a great fit for you: Developer - http://t.co/nnnoRsx3y0 #USA #Veterans #Hiring #CareerArc -> 10
#SonHouse ~ 'Pony #Blues' (http://t.co/mOVmVmsPIo) #Chicago #Illinois #Memphis #Tennessee #Tupelo #Mississippi "#Beadles is my Name." #USA -> 10
RT @FunFactsNews: Trump Get Ready My Friend... #DonaldTrump #trump #elchapo #MexicanVines #usa #justdoit #doitforthevine #funny http://t.co -> 10

In [118]:
# Impressions
tweet_df = tweet_df.sort_values(by='impressions', ascending=False)
tweet_df = tweet_df.reset_index(drop=True)
print ('Mean impressions:', round(tweet_df['impressions'].mean(),2), '\n')
print ('Top 5 tweets with most impressions:')
print ('-----------------------------------','\n')
for i in range(5):
    print (tweet_df['Tweet text'].ix[i], '->', tweet_df['impressions'].ix[i])

Mean impressions: 2704.27

Top 5 tweets with most impressions:
-----------------------------------

When you come too understand the voices of musical instruments, your entire world will be changed &amp; you'll have a better appreciation. #USA -> 4989
#usa #AOU #BigBillionDaysTomorrow #IsraelKillsThekids https://t.co/tjqMFFaixo -> 4915
Director of Facilities and Operations: Spectrum of Hope, LLC, Houston, TX. http://t.co/YcBuhHqtEw #MBA #jobs #USA -> 4913
#MyGovHillary #HillaryClinton to want Strong Families #USA in #California Shandon - http://t.co/uHziNui02j http://t.co/mJNMKcpSas -> 4900
We're #hiring! Read about our latest #job opening here: OTR Truck Driving Job - Home Bi-Weekly -... - http://t.co/cxuBxSiHFk #USA #Veterans -> 4882

In [174]:
# Hashtags & mentions
tag_dict = {}
mention_dict = {}
#tweet_tokenized=[]
tweets=[]

In [175]:
for i in range(len(tweet_df.index)):
    tweet_text=tweet_df.ix[i]['Tweet text']
    tweet=tweet_text.lower()
    tweet_tokenized=tweet.split()
    tweets.append(tweet)
    #print(tweet)

In [177]:
#tweets

In [78]:
freq={}

In [85]:
#tweet_tokenized

In [169]:
s="I love #stackoverflow because #people are very #helpful!"
[i  for i in tweet.split() if i.startswith("#") ]

['#gyncsm']

In [96]:
#re.findall(r"#(\w+)", tweet_tokenized)
r = re.compile(".*cat")
newlist = filter(r.match, tweet_tokenized)
newlist

### Wokring

In [202]:

tweet_string = ' '.join(str(e) for e in tweets)
#tweet_string
all_hasttags=[i  for i in tweet_string.split() if i.startswith("#") ]
all_hasttags[:3]

['#usa', '#usa', '#aou']

In [141]:
s = "string [With] [Punctuation?" # Sample string 
translator = str.maketrans("","", "?,[,]")
out = s.translate(translator)
out

'string With Punctuation'

In [181]:
for word in tweets:
        # Hashtags - tokenize and build dict of tag counts
        if (word[0:1] == '#' and len(word) > 1):
            translator = str.maketrans("","", string.punctuation)
            key = word.translate(translator)
            count=freq.get(word,0)
            freq[word]=count + 1
            if key in tag_dict:
                tag_dict[key] += 1
            else:
                tag_dict[key] = 1

In [194]:
hashs={}
hash_results = []

In [203]:
for word in all_hasttags:
    count=hashs.get(word,0)
    hashs[word]=count + 1

In [219]:
#hashs

In [220]:
frequency_list = hashs.keys()

for words in frequency_list:
    tuple = (words, hashs[words])
    hash_results.append(tuple)

In [230]:
byFreq=sorted(hash_results, key=lambda word: word[1], reverse=True)
#byFreq[:10]

In [229]:
# The 10 most popular tags and counts
print ('Top 10 hashtags:')
print ('----------------')
for (word, freq) in byFreq[:10]:
    print (word, ' -> ' ,freq)

Top 10 hashtags:
----------------
#usa  ->  188
#jobs  ->  26
#job  ->  20
#hiring  ->  20
#mba  ->  16
#careerarc  ->  16
#soccer  ->  16
#mls  ->  16
#news  ->  12
#autumn  ->  8